<body>
 <!-- Navbar content --> 
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">OTWSJ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/scrape">Scrape New Articles</a>
      <a class="nav-item nav-link"href="/savedArticles"  >Saved Articles</a>
    </div>
  </div>
</nav>   
<!-- JumboTron content --> 
	<div class="jumbotron jumbotron-fluid "style="background-image: url(https://www.communia-association.org/wp-content/uploads/2017/03/6277208708_7e6607d601_b-1000x390.jpg); background-size: 100%;">
	  <h1 class="text-info text-center">Off Wall Street Journal</h1>
	
	</div>

<div class="container article-container">
    <div class="row">
        <div class="col">
            <div id="articles"></div>
            <div id="notes"></div>
        </div>
    </div>
</div>
</body>


<script src="app.js"></script>